.enjoy {
    background-color: black;
    width: 1440px;
    height: 580px;

}

.enjoy img {
    width: 660px;
    height: 420px;
    margin-left: 740px;
    margin-top: -400px;

}

.enjoy h1 {
    margin-top: 80px;
    margin-left: 40px;
    font-family: Philosopher;
    font-size: 70px;
    font-weight: 700;
    line-height: 78.4px;
    text-align: left;
    width: 508px;
    height: 78px;
    color: white;

}

.enjoy p {
    margin-top: 174px;
    margin-left: 40px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
    text-align: left;
    width: 632px;
    height: 168px;
    top: 2111px;
    left: 40px;
    gap: 0px;
    opacity: 0px;
    color: white;
}
a:hover{
    color: chocolate;
}